* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0;
}

.breadcrumb {
  margin: 0;
}/*# sourceMappingURL=reset.css.map */