@import "variables";
@import "reset";
@import "color";

body {
    color: $blackColor1;
}

// css dùng chung 
.-btns {
    .btn-signup {
        background-color: $blueColor1;
        color: $whiteColor1;
        padding: 8px 20px;
        text-align: center;
        font-size: 14px;
        border-radius: 5px;

        i {
            font-size: 12px;
            width: 15px;
            padding-right: 5px;
        }
    }

    .btn-login {
        background-color: $grayColor5;
        color: $blackColor1;
        padding: 8px 20px;
        text-align: center;
        font-size: 14px;
        border-radius: 5px;

        i {
            font-size: 12px;
            width: 15px;
            padding-right: 5px;
        }
    }
}

// header
.-header {
    border-bottom: 1px solid $grayColor1;

    .-pc {
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 2rem 0;

        @media(max-width: 768px) {
            display: none !important;
        }

        .-logo,
        .-btns {
            width: 20%;
        }

        .-logo {
            display: flex;
            justify-content: start;

            img {
                width: 65%;
                height: auto;
                padding: 5px;
            }
        }

        .-menu {
            width: 60%;
            margin: 0 auto;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    padding: 0 1rem;

                    &:nth-child(2) {
                        display: none;
                    }

                    a {
                        color: $blackColor1;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }

        .-btns {
            display: flex;
            justify-content: end;
        }
    }

    .-mb {
        display: none;
        border-bottom: 1px solid $grayColor1;

        @media screen and (max-width: 768px) {
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10vh;

            .-menu,
            .-logo {
                width: 30%;
            }

            .-menu {
                .-bars {
                    background: transparent;
                    border: none;
                    outline: none;
                    float: right;

                    i.-icon {
                        font-size: 20px;
                        transition: transform 0.3s ease;
                    }

                    &:hover i {
                        transform: scale(1.2);
                    }
                }

                .-menu-mb {
                    display: none;
                    width: 0;
                    background-color: $whiteColor1;
                    height: 100vh;
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: width 1s;
                    animation-duration: 3s;
                    box-shadow: 3px 16px #88888821;

                    ul {
                        padding: 30px 0px 0px 30px;

                        li {
                            padding: 5px 0px;
                            border-bottom: 1px solid $grayColor1;

                            &:nth-child(2) {
                                border: none;
                                padding: 0;
                            }

                            a {
                                color: $blackColor1;
                                font-size: 15px;
                                font-weight: 600;
                            }
                        }
                    }

                    .-btns {
                        display: flex;
                        flex-direction: column-reverse;
                        padding: 15px 5px;

                        a {
                            margin: 10px 0px;
                        }
                    }
                }
            }

            .-logo {
                text-align: center;

                a {
                    img {
                        width: 50%;
                        padding: 10px;
                    }
                }

            }
        }
    }
}

.-footer {
    .-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
        border-bottom: 1px solid $grayColor1;

        .-left {
            width: 40%;
            display: flex;
            justify-content: space-between;

            .-logo {
                width: 80%;
                max-width: 80%;
                height: auto;
            }

            .-title {
                font-size: 20px;
                font-weight: 700;
            }

            ul {
                padding-left: 0;

                li {
                    padding: 5px 0px;

                    a {
                        font-size: 16px;
                        color: $blackColor1;
                    }
                }
            }
        }

        .-right {
            display: flex;
            justify-content: end;

            .-socials {
                display: flex;
                width: 100%;

                .-item {
                    width: 45px;
                    height: 45px;
                    border: 1px solid $grayColor1;
                    border-radius: 50px;
                    text-align: center;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $blackColor1;
                    ;
                    font-size: 15px;
                    margin: 0px 5px;
                }
            }
        }

    }

    .-bottom {
        padding: 10px 0px;
    }
}

.grid2 {
    display: grid;
    grid-template-columns: auto auto;
}

// css home
.home {
    background-color: $grayColor2;

    .-title-big {
        background-color: $whiteColor1;
        width: 100%;
        height: auto;
        padding: 35px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .-btn-video {
            background-color: $grayColor3;
            border-radius: 20px;
            padding: 8px 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $blueColor1;
            font-size: 16px;
            font-weight: 700;
            font-size: 15px;

            .-icon {
                padding-right: 10px;
            }
        }

        .-text {
            width: 60%;
            height: auto;
            padding: 25px 0px;
            margin: 0 auto;

            h1 {
                .-nomar {
                    font-size: $fontSizeH1;
                    font-weight: $fontWeightH1;
                    color: $blackColor1;

                    @media screen and (max-width: 768px) {
                        font-size: 50px;
                        padding: 10px 0px;
                    }
                }

                .-gradient {
                    font-size: $fontSizeH1;
                    font-weight: $fontWeightH1;
                    background: -webkit-linear-gradient(#EFCFFA, #625BF6);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    height: 5rem;

                    @media screen and (max-width: 768px) {
                        font-size: 50px;
                        padding: 10px 0px;
                    }
                }
            }

            p {
                font-size: 18px;
                color: $blackColor2;
                font-weight: 400;
                padding: 10px 0px 20px 0px;
            }
        }


    }

    .-banner {
        width: 100%;
        height: auto;
        background-color: $whiteColor1;
        padding: 35px 0px 100px 0px;
        display: flex;
        justify-content: center;

        img {
            overflow: hidden;
            padding: 10px;
        }
    }

    .-start-building {
        width: 100%;
        height: auto;

        .-inner {
            background-color: $whiteColor1;
            border: 1px solid $grayColor3;
            border-radius: 20px;
            padding: 35px;
            position: relative;
            margin-top: -50px;
            z-index: 3;

            @media(max-width: 768px) {
                padding: 15px;
            }

            .-left {
                width: 60%;
                float: left;

                @media(max-width: 768px) {
                    width: 100%;
                    text-align: center;
                }

                .-text {
                    h4 {
                        font-size: 36px;
                        color: $blackColor1;
                        font-weight: 700;
                        padding: 10px 0px;
                    }

                    p {
                        text-align: justify;
                        color: $blackColor1;
                        font-size: 16px;
                    }

                    .-btns {
                        padding-top: 35px;

                        @media(max-width: 768px) {
                            margin: 20px 5px;
                        }
                    }
                }
            }

            .-right {
                .-box {
                    width: 100%;

                    .-item {
                        width: 100%;
                        padding: 15px 10px;

                        img {
                            width: 40%;
                            max-width: 40%;
                        }

                        .-title {
                            font-size: 16px;
                            color: $blackColor1;
                            font-weight: 700;
                        }

                        .-content {
                            font-size: 15px;
                            color: $blackColor1;
                        }
                    }
                }
            }
        }
    }

    .-federated {
        background-color: $grayColor2;
        padding: 70px 0px;

        .-img {
            width: 100%;
            display: block;
            text-align: center;
            position: relative;

            .-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 35%;
                text-align: center;

                h4 {
                    font-size: 42px;
                    font-weight: 700;
                    color: $blackColor1;
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: $blackColor1;
                }

            }

            picture {
                img {
                    width: 70%;
                    height: auto;
                    margin: 0 auto;
                    padding: 15px;
                }
            }

            .-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 35%;
                text-align: center;

                h4 {
                    font-size: 42px;
                    font-weight: 700;
                    color: $blackColor1;
                }

                p {
                    font-size: 18px;
                    font-weight: 600;
                    color: $blackColor1;
                }

            }
        }
    }

    .import-tabs {
        padding: 10px;
        border: 1px solid $blackColor1;
        border-radius: 10px;
    }

    .-tabs {
        padding: 35px 0px;
        background-color: $whiteColor1;

        .-block {
            width: 100%;
            padding-bottom: 5rem;

            &:nth-child(2) {
                background-color: $grayColor2;

                .nav {
                    background-color: $whiteColor1;
                }

                .-content-panel {
                    background-color: $blueColor2 !important;
                    width: 100%;
                    height: auto;
                    padding: 20px 40px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;

                    .-text {

                        h3,
                        p {
                            color: $whiteColor1;
                        }

                    }
                }
            }

            .-table-item {
                width: 100%;
                padding: 10px;
                margin-top: 25px;
                border: 1px solid $grayColor5;
                border-radius: 5px;

                .-icon {
                    background-color: $grayColor3;
                    padding: 5px;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $grayColor1;
                }

                .-text {
                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        color: $blackColor1;
                        padding: 15px 0px;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }

        .-title {
            width: 100%;
            display: block;
            text-align: center;
            padding: 20px 0px;

            h3 {
                color: $blackColor1;
                font-size: 42px;
                font-weight: 700;
                padding: 10px;
            }

            p {
                color: $blackColor1;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .nav {
            background-color: $grayColor2;
            padding: 8px 10px;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 55px;

            .nav-link {
                color: $blackColor1;
                font-size: 15px;
            }

            .nav-link.active {
                background-color: $blueColor1;
                color: $whiteColor1;
                font-size: 15px;
                border-radius: 15px;
            }
        }

        .-content-panel {
            background-color: $grayColor2;
            width: 100%;
            height: auto;
            padding: 20px 40px;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .-text {
                width: 50%;
                text-align: left;
                padding: 0px 15px;

                h3 {
                    font-weight: 600;
                    color: $blackColor1;
                }
            }

            .-img {
                width: 50%;
                overflow: hidden;
            }
        }

    }

    .-blog {
        background-color: $whiteColor1;
        padding: 35px;

        .-title {
            width: 100%;
            display: block;
            text-align: center;
            padding: 35px 0px;

            h3 {
                color: $blackColor1;
                font-size: 42px;
                font-weight: 700;
            }

            p {
                color: $blackColor1;
                font-size: 18px;
                font-weight: 500;
            }
        }

        .nav {
            background-color: $grayColor2;
            padding: 8px 10px;
            border-radius: 20px;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 35px;
            .nav-link {
                color: $blackColor1;
                font-size: 15px;
            }

            .nav-link.active {
                background-color: $blueColor1;
                color: $whiteColor1;
                font-size: 15px;
                border-radius: 15px;
            }
        }
    }
}

.-banner {
    width: 100%;
    height: 30vh;

    .-title {
        font-size: $fontSizeH1;
        font-weight: $fontWeightH1;
        color: $blackColor1;
    }

    .-tags {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;

        .-item {
            padding: 10px 24px;
            border: 1px solid $blackColor1;
            border-radius: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.5rem 1rem;
            color: $blackColor1;

            a {
                color: $blackColor1;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.-todays_pick {
    width: 100%;
    height: auto;
}

.--headline {
    width: 100%;
    border-top: 1px solid $blackColor1;

    .--text {
        background-color: $blackColor1;
        color: $whiteColor1;
        font-size: $fontSizeHeadline;
        font-weight: $fontWeightHeadline;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
    }

    .--text.--child1 {
        width: 15%;
    }

    .--text.--child2 {
        width: 35%;
    }

    .--text.--child3 {
        width: 25%;
    }
}

.-post__item {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    .-text {
        .-cate {
            ul.-list {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 10px 0px 5px 0px;

                li {
                    padding: 2px 5px 2px 0px;

                    a {
                        font-size: 15px;
                        color: $blackColor1;
                        padding: 10px 0px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .-title {
            font-size: 22px;
            color: $blackColor1;
            font-weight: 700;
        }

        .-date {
            color: $grayColor1;
            font-size: 14px;
            font-weight: 400;
        }

        .-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

    }

    .-img {
        img {
            border-radius: 10px;
        }
    }
}

.-post__item2 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grayColor1;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    .-text {
        width: 50%;

        .-title {
            font-size: 16px;
            color: $blackColor1;
            font-weight: 700;
        }

        .-date {
            color: $grayColor1;
            font-size: 14px;
            font-weight: 400;
        }

        .-content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .-img {
        width: 50%;

        img {
            border-radius: 10px;
        }
    }
}

.-post__item3 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;

    .-text {
        .-cate {
            ul.-list {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 10px 0px 5px 0px;

                li {
                    padding: 2px 5px 2px 0px;

                    a {
                        font-size: 15px;
                        color: $blackColor1;
                        padding: 10px 0px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        .-title {
            font-size: 18px;
            color: $blackColor1;
            font-weight: 700;
            text-align: left;
            padding: 0px 0px 15px 0px;
        }

        .-date {
            color: $grayColor1;
            font-size: 14px;
            font-weight: 400;
        }

        .-content {
            font-size: 14px;
            line-height: 20px;
            color: $blackColor1;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .-img {
        img {
            border-radius: 10px;
        }
    }

}

// detail posst
.detail_post {
    width: 100%;

    .-entry-title {
        .-tags-text {
            display: flex;

            .-item {
                padding: 2px 5px 0px 5px;

                a {
                    color: $blackColor1;
                    font-size: 16px;
                    font-weight: 600;
                    padding-right: 10px;
                }
            }
        }

        .-title {
            padding: 10px 0px;
            color: $blackColor1;
            font-size: fontSizeH1;
            font-weight: $fontWeightH1;
        }

        .-date {
            color: $grayColor1;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .-entry-content {
        .-bookmark {
            border: 1px solid $grayColor1;
            border-radius: 15px;
            padding: 15px;
            width: 30%;
            height: auto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .-avatar {
            width: 100%;
            height: auto;
            padding: 45px 0px;

            img {
                border-radius: 15px;
            }
        }

        .-description {
            padding: 0px 10px 5px 0px;
            font-size: 16px;
            font-weight: 700;
            color: $blackColor1;
            line-height: 25px;
            text-align: justify;
        }

        .-detail {
            padding: 0px 10px 5px 0px;
            font-size: 15px;
            font-weight: 500;
            color: $blackColor1;
            line-height: 25px;
            text-align: justify;
        }

        .backshare {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 0px;

            .-share {
                display: flex;
                justify-content: center;
                align-items: center;

                li {
                    padding: 0px 5px;
                    border: 0.843521px solid #ebebeb;
                    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
                    border-radius: 42.176px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.15s ease;

                    &:nth-child(1) {
                        border: none;
                        box-shadow: none;
                        width: 8rem;
                    }

                    &:nth-child(3) {
                        i {
                            color: #5ab0ee;
                        }
                    }

                    &:nth-child(4) {
                        i {
                            color: #238cd8;
                        }
                    }

                    &:nth-child(5) {
                        i {
                            color: #dc4a38;
                        }
                    }
                }
            }
        }

        .-headline {
            border-top: 2px solid $blackColor1;
            border-bottom: 2px solid $blackColor1;
            padding: 15px 0px;

            h4 {
                font-size: 18px;
                color: blackColor2;
                font-weight: 500;
                margin: 0;
            }
        }
    }

    .-entry-more {
        .-headline {
            border-top: 2px solid $blackColor1;
            border-bottom: 2px solid $blackColor1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0px;

            h3 {
                font-size: 16px;
                font-weight: 500;
                color: $blackColor2;
            }
        }
    }
}

.roadmap {
    .-title {
        width: 100%;
        height: 10vh;
    }

    .-timeline {
        position: relative;
        z-index: 1;

        .single-timeline-area {
            position: relative;
            z-index: 1;
            padding-left: 180px;

            @media only screen and (max-width: 575px) {
                padding-left: 100px;
            }

            .timeline-date {
                position: absolute;
                width: 180px;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -ms-grid-row-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                padding-right: 60px;

                @media only screen and (max-width: 575px) {
                    width: 100px;
                }

                &::before {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: $grayColor4;
                    content: "";
                    top: 50%;
                    right: 22px;
                    z-index: 5;
                    margin-top: -5.5px;
                }

                &::after {
                    position: absolute;
                    width: 5px;
                    height: 100%;
                    content: "";
                    background-color: #ebebeb;
                    top: 0;
                    right: 30px;
                    z-index: 1;
                }

                p {
                    margin-bottom: 0;
                    color: $blackColor1;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            .single-timeline-content {
                position: relative;
                z-index: 1;
                padding: 30px 30px 25px;
                border-radius: 6px;
                margin-bottom: 15px;
                margin-top: 15px;
                -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
                box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
                border: 1px solid #ebebeb;

                @media only screen and (max-width: 575px) {
                    padding: 20px;
                }

                .timeline-icon {
                    background-color: #B5E98F;
                    border: 1px solid #B5E98F;
                    border-radius: 5px;
                    color: #2C671D;
                    padding: 2px;
                    width: 40%;
                    text-align: center;
                    margin-bottom: 10px;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i {
                        color: #2C671D;
                        line-height: 30px;
                        padding: 3px 7px 3px 7px;
                    }
                }

                .timeline-text {
                    h6 {
                        -webkit-transition-duration: 500ms;
                        transition-duration: 500ms;
                    }

                    p {
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $blackColor2;
    color: $whiteColor1;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;

    &:hover {
        background-color: $blackColor1;
    }
}


.breadcrumb-bottom {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}