.img-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0;
}

.breadcrumb {
  margin: 0;
}

body {
  color: #000000;
}

.-btns .btn-signup {
  background-color: #625BF6;
  color: #fff;
  padding: 8px 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.-btns .btn-signup i {
  font-size: 12px;
  width: 15px;
  padding-right: 5px;
}
.-btns .btn-login {
  background-color: #DDDDDD;
  color: #000000;
  padding: 8px 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
}
.-btns .btn-login i {
  font-size: 12px;
  width: 15px;
  padding-right: 5px;
}

.-header {
  border-bottom: 1px solid #7D7D7D;
}
.-header .-pc {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .-header .-pc {
    display: none !important;
  }
}
.-header .-pc .-logo,
.-header .-pc .-btns {
  width: 20%;
}
.-header .-pc .-logo {
  display: flex;
  justify-content: start;
}
.-header .-pc .-logo img {
  width: 65%;
  height: auto;
  padding: 5px;
}
.-header .-pc .-menu {
  width: 60%;
  margin: 0 auto;
}
.-header .-pc .-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.-header .-pc .-menu ul li {
  padding: 0 1rem;
}
.-header .-pc .-menu ul li:nth-child(2) {
  display: none;
}
.-header .-pc .-menu ul li a {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.-header .-pc .-btns {
  display: flex;
  justify-content: end;
}
.-header .-mb {
  display: none;
  border-bottom: 1px solid #7D7D7D;
}
@media screen and (max-width: 768px) {
  .-header .-mb {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
  }
  .-header .-mb .-menu,
  .-header .-mb .-logo {
    width: 30%;
  }
  .-header .-mb .-menu .-bars {
    background: transparent;
    border: none;
    outline: none;
    float: right;
  }
  .-header .-mb .-menu .-bars i.-icon {
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  .-header .-mb .-menu .-bars:hover i {
    transform: scale(1.2);
  }
  .-header .-mb .-menu .-menu-mb {
    display: none;
    width: 0;
    background-color: #fff;
    height: 100vh;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s;
    animation-duration: 3s;
    box-shadow: 3px 16px rgba(136, 136, 136, 0.1294117647);
  }
  .-header .-mb .-menu .-menu-mb ul {
    padding: 30px 0px 0px 30px;
  }
  .-header .-mb .-menu .-menu-mb ul li {
    padding: 5px 0px;
    border-bottom: 1px solid #7D7D7D;
  }
  .-header .-mb .-menu .-menu-mb ul li:nth-child(2) {
    border: none;
    padding: 0;
  }
  .-header .-mb .-menu .-menu-mb ul li a {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
  }
  .-header .-mb .-menu .-menu-mb .-btns {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 5px;
  }
  .-header .-mb .-menu .-menu-mb .-btns a {
    margin: 10px 0px;
  }
  .-header .-mb .-logo {
    text-align: center;
  }
  .-header .-mb .-logo a img {
    width: 50%;
    padding: 10px;
  }
}

.-footer .-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
  border-bottom: 1px solid #7D7D7D;
}
.-footer .-main .-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.-footer .-main .-left .-logo {
  width: 80%;
  max-width: 80%;
  height: auto;
}
.-footer .-main .-left .-title {
  font-size: 20px;
  font-weight: 700;
}
.-footer .-main .-left ul {
  padding-left: 0;
}
.-footer .-main .-left ul li {
  padding: 5px 0px;
}
.-footer .-main .-left ul li a {
  font-size: 16px;
  color: #000000;
}
.-footer .-main .-right {
  display: flex;
  justify-content: end;
}
.-footer .-main .-right .-socials {
  display: flex;
  width: 100%;
}
.-footer .-main .-right .-socials .-item {
  width: 45px;
  height: 45px;
  border: 1px solid #7D7D7D;
  border-radius: 50px;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 15px;
  margin: 0px 5px;
}
.-footer .-bottom {
  padding: 10px 0px;
}

.grid2 {
  display: grid;
  grid-template-columns: auto auto;
}

.home {
  background-color: #F6F8F9;
}
.home .-title-big {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 35px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home .-title-big .-btn-video {
  background-color: #efeffe;
  border-radius: 20px;
  padding: 8px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #625BF6;
  font-size: 16px;
  font-weight: 700;
  font-size: 15px;
}
.home .-title-big .-btn-video .-icon {
  padding-right: 10px;
}
.home .-title-big .-text {
  width: 60%;
  height: auto;
  padding: 25px 0px;
  margin: 0 auto;
}
.home .-title-big .-text h1 .-nomar {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .home .-title-big .-text h1 .-nomar {
    font-size: 50px;
    padding: 10px 0px;
  }
}
.home .-title-big .-text h1 .-gradient {
  font-size: 56px;
  font-weight: 700;
  background: -webkit-linear-gradient(#EFCFFA, #625BF6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 5rem;
}
@media screen and (max-width: 768px) {
  .home .-title-big .-text h1 .-gradient {
    font-size: 50px;
    padding: 10px 0px;
  }
}
.home .-title-big .-text p {
  font-size: 18px;
  color: #333333;
  font-weight: 400;
  padding: 10px 0px 20px 0px;
}
.home .-banner {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 35px 0px 100px 0px;
  display: flex;
  justify-content: center;
}
.home .-banner img {
  overflow: hidden;
  padding: 10px;
}
.home .-start-building {
  width: 100%;
  height: auto;
}
.home .-start-building .-inner {
  background-color: #fff;
  border: 1px solid #efeffe;
  border-radius: 20px;
  padding: 35px;
  position: relative;
  margin-top: -50px;
  z-index: 3;
}
@media (max-width: 768px) {
  .home .-start-building .-inner {
    padding: 15px;
  }
}
.home .-start-building .-inner .-left {
  width: 60%;
  float: left;
}
@media (max-width: 768px) {
  .home .-start-building .-inner .-left {
    width: 100%;
    text-align: center;
  }
}
.home .-start-building .-inner .-left .-text h4 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  padding: 10px 0px;
}
.home .-start-building .-inner .-left .-text p {
  text-align: justify;
  color: #000000;
  font-size: 16px;
}
.home .-start-building .-inner .-left .-text .-btns {
  padding-top: 35px;
}
@media (max-width: 768px) {
  .home .-start-building .-inner .-left .-text .-btns {
    margin: 20px 5px;
  }
}
.home .-start-building .-inner .-right .-box {
  width: 100%;
}
.home .-start-building .-inner .-right .-box .-item {
  width: 100%;
  padding: 15px 10px;
}
.home .-start-building .-inner .-right .-box .-item img {
  width: 40%;
  max-width: 40%;
}
.home .-start-building .-inner .-right .-box .-item .-title {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.home .-start-building .-inner .-right .-box .-item .-content {
  font-size: 15px;
  color: #000000;
}
.home .-federated {
  background-color: #F6F8F9;
  padding: 70px 0px;
}
.home .-federated .-img {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
}
.home .-federated .-img .-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center;
}
.home .-federated .-img .-text h4 {
  font-size: 42px;
  font-weight: 700;
  color: #000000;
}
.home .-federated .-img .-text p {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.home .-federated .-img picture img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
}
.home .-federated .-img .-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center;
}
.home .-federated .-img .-text h4 {
  font-size: 42px;
  font-weight: 700;
  color: #000000;
}
.home .-federated .-img .-text p {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
.home .import-tabs {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
}
.home .-tabs {
  padding: 35px 0px;
  background-color: #fff;
}
.home .-tabs .-block {
  width: 100%;
  padding-bottom: 5rem;
}
.home .-tabs .-block:nth-child(2) {
  background-color: #F6F8F9;
}
.home .-tabs .-block:nth-child(2) .nav {
  background-color: #fff;
}
.home .-tabs .-block:nth-child(2) .-content-panel {
  background-color: #121A35 !important;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.home .-tabs .-block:nth-child(2) .-content-panel .-text h3,
.home .-tabs .-block:nth-child(2) .-content-panel .-text p {
  color: #fff;
}
.home .-tabs .-block .-table-item {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}
.home .-tabs .-block .-table-item .-icon {
  background-color: #efeffe;
  padding: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7D7D7D;
}
.home .-tabs .-block .-table-item .-text h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  padding: 15px 0px;
}
.home .-tabs .-block .-table-item .-text p {
  font-size: 15px;
  font-weight: 500;
}
.home .-tabs .-title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0px;
}
.home .-tabs .-title h3 {
  color: #000000;
  font-size: 42px;
  font-weight: 700;
  padding: 10px;
}
.home .-tabs .-title p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.home .-tabs .nav {
  background-color: #F6F8F9;
  padding: 8px 10px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
}
.home .-tabs .nav .nav-link {
  color: #000000;
  font-size: 15px;
}
.home .-tabs .nav .nav-link.active {
  background-color: #625BF6;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
}
.home .-tabs .-content-panel {
  background-color: #F6F8F9;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .-tabs .-content-panel .-text {
  width: 50%;
  text-align: left;
  padding: 0px 15px;
}
.home .-tabs .-content-panel .-text h3 {
  font-weight: 600;
  color: #000000;
}
.home .-tabs .-content-panel .-img {
  width: 50%;
  overflow: hidden;
}
.home .-blog {
  background-color: #fff;
  padding: 35px;
}
.home .-blog .-title {
  width: 100%;
  display: block;
  text-align: center;
  padding: 35px 0px;
}
.home .-blog .-title h3 {
  color: #000000;
  font-size: 42px;
  font-weight: 700;
}
.home .-blog .-title p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.home .-blog .nav {
  background-color: #F6F8F9;
  padding: 8px 10px;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
}
.home .-blog .nav .nav-link {
  color: #000000;
  font-size: 15px;
}
.home .-blog .nav .nav-link.active {
  background-color: #625BF6;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
}

.-banner {
  width: 100%;
  height: 30vh;
}
.-banner .-title {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
}
.-banner .-tags {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}
.-banner .-tags .-item {
  padding: 10px 24px;
  border: 1px solid #000000;
  border-radius: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
  color: #000000;
}
.-banner .-tags .-item a {
  color: #000000;
}
.-banner .-tags .-item:hover {
  cursor: pointer;
}

.-todays_pick {
  width: 100%;
  height: auto;
}

.--headline {
  width: 100%;
  border-top: 1px solid #000000;
}
.--headline .--text {
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
.--headline .--text.--child1 {
  width: 15%;
}
.--headline .--text.--child2 {
  width: 35%;
}
.--headline .--text.--child3 {
  width: 25%;
}

.-post__item {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.-post__item .-text .-cate ul.-list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px 5px 0px;
}
.-post__item .-text .-cate ul.-list li {
  padding: 2px 5px 2px 0px;
}
.-post__item .-text .-cate ul.-list li a {
  font-size: 15px;
  color: #000000;
  padding: 10px 0px;
  text-transform: uppercase;
}
.-post__item .-text .-title {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
}
.-post__item .-text .-date {
  color: #7D7D7D;
  font-size: 14px;
  font-weight: 400;
}
.-post__item .-text .-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.-post__item .-img img {
  border-radius: 10px;
}

.-post__item2 {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid #7D7D7D;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
.-post__item2 .-text {
  width: 50%;
}
.-post__item2 .-text .-title {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
}
.-post__item2 .-text .-date {
  color: #7D7D7D;
  font-size: 14px;
  font-weight: 400;
}
.-post__item2 .-text .-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.-post__item2 .-img {
  width: 50%;
}
.-post__item2 .-img img {
  border-radius: 10px;
}

.-post__item3 {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}
.-post__item3 .-text .-cate ul.-list {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px 5px 0px;
}
.-post__item3 .-text .-cate ul.-list li {
  padding: 2px 5px 2px 0px;
}
.-post__item3 .-text .-cate ul.-list li a {
  font-size: 15px;
  color: #000000;
  padding: 10px 0px;
  text-transform: uppercase;
}
.-post__item3 .-text .-title {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  text-align: left;
  padding: 0px 0px 15px 0px;
}
.-post__item3 .-text .-date {
  color: #7D7D7D;
  font-size: 14px;
  font-weight: 400;
}
.-post__item3 .-text .-content {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.-post__item3 .-img img {
  border-radius: 10px;
}

.detail_post {
  width: 100%;
}
.detail_post .-entry-title .-tags-text {
  display: flex;
}
.detail_post .-entry-title .-tags-text .-item {
  padding: 2px 5px 0px 5px;
}
.detail_post .-entry-title .-tags-text .-item a {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding-right: 10px;
}
.detail_post .-entry-title .-title {
  padding: 10px 0px;
  color: #000000;
  font-size: fontSizeH1;
  font-weight: 700;
}
.detail_post .-entry-title .-date {
  color: #7D7D7D;
  font-size: 15px;
  font-weight: 500;
}
.detail_post .-entry-content .-bookmark {
  border: 1px solid #7D7D7D;
  border-radius: 15px;
  padding: 15px;
  width: 30%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_post .-entry-content .-avatar {
  width: 100%;
  height: auto;
  padding: 45px 0px;
}
.detail_post .-entry-content .-avatar img {
  border-radius: 15px;
}
.detail_post .-entry-content .-description {
  padding: 0px 10px 5px 0px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  line-height: 25px;
  text-align: justify;
}
.detail_post .-entry-content .-detail {
  padding: 0px 10px 5px 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  line-height: 25px;
  text-align: justify;
}
.detail_post .-entry-content .backshare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}
.detail_post .-entry-content .backshare .-share {
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_post .-entry-content .backshare .-share li {
  padding: 0px 5px;
  border: 0.843521px solid #ebebeb;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 42.176px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease;
}
.detail_post .-entry-content .backshare .-share li:nth-child(1) {
  border: none;
  box-shadow: none;
  width: 8rem;
}
.detail_post .-entry-content .backshare .-share li:nth-child(3) i {
  color: #5ab0ee;
}
.detail_post .-entry-content .backshare .-share li:nth-child(4) i {
  color: #238cd8;
}
.detail_post .-entry-content .backshare .-share li:nth-child(5) i {
  color: #dc4a38;
}
.detail_post .-entry-content .-headline {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 15px 0px;
}
.detail_post .-entry-content .-headline h4 {
  font-size: 18px;
  color: blackColor2;
  font-weight: 500;
  margin: 0;
}
.detail_post .-entry-more .-headline {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}
.detail_post .-entry-more .-headline h3 {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.roadmap .-title {
  width: 100%;
  height: 10vh;
}
.roadmap .-timeline {
  position: relative;
  z-index: 1;
}
.roadmap .-timeline .single-timeline-area {
  position: relative;
  z-index: 1;
  padding-left: 180px;
}
@media only screen and (max-width: 575px) {
  .roadmap .-timeline .single-timeline-area {
    padding-left: 100px;
  }
}
.roadmap .-timeline .single-timeline-area .timeline-date {
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 60px;
}
@media only screen and (max-width: 575px) {
  .roadmap .-timeline .single-timeline-area .timeline-date {
    width: 100px;
  }
}
.roadmap .-timeline .single-timeline-area .timeline-date::before {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d9d9d9;
  content: "";
  top: 50%;
  right: 22px;
  z-index: 5;
  margin-top: -5.5px;
}
.roadmap .-timeline .single-timeline-area .timeline-date::after {
  position: absolute;
  width: 5px;
  height: 100%;
  content: "";
  background-color: #ebebeb;
  top: 0;
  right: 30px;
  z-index: 1;
}
.roadmap .-timeline .single-timeline-area .timeline-date p {
  margin-bottom: 0;
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.roadmap .-timeline .single-timeline-area .single-timeline-content {
  position: relative;
  z-index: 1;
  padding: 30px 30px 25px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  border: 1px solid #ebebeb;
}
@media only screen and (max-width: 575px) {
  .roadmap .-timeline .single-timeline-area .single-timeline-content {
    padding: 20px;
  }
}
.roadmap .-timeline .single-timeline-area .single-timeline-content .timeline-icon {
  background-color: #B5E98F;
  border: 1px solid #B5E98F;
  border-radius: 5px;
  color: #2C671D;
  padding: 2px;
  width: 40%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roadmap .-timeline .single-timeline-area .single-timeline-content .timeline-icon i {
  color: #2C671D;
  line-height: 30px;
  padding: 3px 7px 3px 7px;
}
.roadmap .-timeline .single-timeline-area .single-timeline-content .timeline-text h6 {
  transition-duration: 500ms;
}
.roadmap .-timeline .single-timeline-area .single-timeline-content .timeline-text p {
  font-size: 13px;
  margin-bottom: 0;
}

.btn-back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333333;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
.btn-back-to-top:hover {
  background-color: #000000;
}

.breadcrumb-bottom {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}/*# sourceMappingURL=style.css.map */