{% if editmode %}
	{{ include("layouts/links.html.twig") }}
{% endif %}
<!-- footer -->
<div class="-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="-main">
					<div class="-left">
						<div class="column">
							<div class="-logo">
								<a href="{{ document.getProperty('navigation_root') }}">
									{% if editmode %}
										{{ pimcore_image("logo", {
											title: "Cập nhật ảnh logo",
											width: 300
										}) }}
														{% else %}
															{% set image = pimcore_image('logo').isEmpty()
										? pimcore_website_config('website_logo')
										: pimcore_image('website_logo').image %}

															{{ include("components/image.html.twig", {
										image: image,
										class: ""
										}) }}
									{% endif %}
								</a>
							</div>
						</div>
						<div class="column">
							<h4 class="-title">Solutions</h4>
							<ul>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
							</ul>
						</div>
						<div class="column">
							<h4 class="-title">Resources</h4>
							<ul>
								<li><a href="">For companies</a></li>
								<li><a href="">For companies</a></li>
							</ul>
						</div>
					</div>
					<div class="-right">
						<div class="-socials">
							<a href="" class="-item">
								<i class="fa-brands fa-facebook-f"></i>
							</a>
							<a href="" class="-item">
								<i class="fa-brands fa-twitter"></i>
							</a>
							<a href="" class="-item">
								<i class="fa-brands fa-instagram"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="-bottom">
					<div class="-coppyright">
						@2023  CorePlus
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<button onclick="topFunction()" id="btnBack" class="btn-back-to-top" title="Go to top">
	<i class="fa-solid fa-circle-arrow-up"></i>
</button>
<!-- footer / -->
