{% if editmode %}
	{{ include("layouts/links.html.twig") }}
{% endif %}
<!-- header -->
<div class="-header">
	<div class="container">
		<div class="-pc">
			<div class="-logo">
				<a href="{{ document.getProperty('navigation_root') }}">
					{% if editmode %}
						{{ pimcore_image("logo", {
                        title: "Cập nhật ảnh logo",
                        width: 300
                    }) }}
					{% else %}
						{% set image = pimcore_image('logo').isEmpty()
                    ? pimcore_website_config('website_logo')
                    : pimcore_image('website_logo').image %}

						{{ include("components/image.html.twig", {
                    image: image,
                    class: ""
                    }) }}
					{% endif %}
				</a>
			</div>
			<div class="-menu">
				{{ include("includes/navigation.html.twig") }}
			</div>
			<div class="-btns">
				<a href="" class=" btn-signup">
					<i class="fa-solid fa-user"></i>
					Sign Up</a>
				<a href="" class=" ms-2 btn-login">
					<i class="fa-solid fa-user"></i>
					Login</a>
			</div>
		</div>
		<div class="-mb">
			<div class="-logo">
				<a href="{{ document.getProperty('navigation_root') }}">
					{% if editmode %}
						{{ pimcore_image("logo_mobile", {
                        title: "Cập nhật ảnh logo",
                        width: 300
                    }) }}
					{% else %}
						{% set image = pimcore_image('logo').isEmpty()
                    ? pimcore_website_config('website_logo_mobile')
                    : pimcore_image('website_logo_mobile').image %}

						{{ include("components/image.html.twig", {
                    image: image,
                    class: ""
                    }) }}
					{% endif %}
				</a>
			</div>
			<div class="-menu">
				<button type="button" onclick="showHideMenu()" class="-bars">
					<i class="-icon fa-solid fa-bars"></i>
				</button>
				<div class="-menu-mb" id="menu_mb">
					{{ include("includes/navigation.html.twig") }}
					<div class="-btns">
						<a href="" class="btn btn-primary btn-sm">
							<i class="fa-regular fa-circle-user"></i>
							Sign Up
						</a>
						<a href="" class="btn btn-light btn-sm ms-2">
							<i class="fa-regular fa-circle-user"></i>
							Login
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header / -->
