<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ include("layouts/links.html.twig") }}

		{# Favicon #}
		{% set favicon = pimcore_website_config('website_favicon') %}
		{% set faviconImage = asset('/admin-assets/assets/logo.png') %}
		{% if favicon %}
			<link rel="icon" type="image/x-icon" href="{{ favicon }}">
		{% endif %}

		{# description, title #}
		{% if document.getTitle() is not empty %}
			{% do pimcore_head_title(document.getTitle()) %}
		{% endif %}

		{% if document.getDescription() is not empty %}
			{% do pimcore_head_meta().setDescription(document.getDescription()) %}
		{% endif %}

		{% block layout_head_meta deferred %}
			{{ pimcore_head_meta() }}
			{{ pimcore_head_title() }}
		{% endblock %}
	</head>

	<body>

		<div class="container-fluid">
			{% if not editmode %}
				{{ include("layouts/header.html.twig") }}
			{% endif %}
			<!-- page -->
			{{ block("content") }}
			<!-- page / -->
			{% if not editmode %}
				{{ include("layouts/footer.html.twig") }}
			</div>
		{% endif %}
		
		{{ include("layouts/scripts.html.twig") }}
	</body>
</html>
