{% extends "layouts/layout.html.twig" %}
{% block content %}
	<section class="home" id="home">
		<section class="-title-big" id="title_big">
			<div class="-btn-video">
				<a href="" class="-icon">
					<i class="fa-regular fa-circle-play"></i>
				</a>
				{{ pimcore_input("textBtnVideo", {'width': 500 , 'height':300}) }}
			</div>
			<div class="-text">
				<h1>
					<div class="-nomar">
						{{ pimcore_input("homeTitle", {'width': 600}) }}
					</div>
					<div class="-gradient">
						{{ pimcore_input("homeTitleGradient", {'width': 600}) }}
					</div>
				</h1>
				<p>
					{{ pimcore_textarea("homeSubtitle",{
				"nl2br": true,
				"width":500,
				"height": 100,
				"placeholder": "Home subtitle"
				}) }}
				</p>
				<div class="-btns">
					<a href="" class="btn-signup">
						<i class="fa-regular fa-user"></i>
						Sign Up
					</a>
					<a href="" class="btn-login ms-2">
						<i class="fa-regular fa-user"></i>
						Login
					</a>
				</div>
			</div>
		</section>
		<section class="-banner" id="banner">
			{% if editmode %}
				{{ pimcore_image("banner1", {
				"title": "Drag your image here",
				"width": 1200,
				"height": 600,
				"class": "img-fluid img-cover",
				"alt": "banner"
			}) }}
			{% else %}
				{% set image = pimcore_image('banner1').isEmpty() ? null :
														pimcore_image('banner1').image %}
				{{ include("components/image.html.twig", { image: image, class: "img-fluid img-cover" }) }}
			{% endif %}
		</section>
		<section class="-start-building" id="start_building">
			<div class="container">
				<div class="-inner">
					<div class="row">
						<div class="col-md-6">
							<div class="-left">
								<div class="-text">
									<h4>
										{{ pimcore_input("titleBuilding", {'width': 500 , 'height':300}) }}
									</h4>
									<p>
										{{ pimcore_textarea("descriptionBuilding",{
									"nl2br": true,
									"width":500,
									"height": 150,
									"placeholder": "Description building"
									}) }}
									</p>
									<div class="-btns">
										<a href="" class="btn-signup">
											<i class="fa-solid fa-user"></i>
											Sign Up
										</a>
										<a href="" class="btn-login ms-2">
											<i class="fa-solid fa-user"></i>
											Login
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							{% if editmode %}
								{% for i in pimcore_block('building_content_block').iterator %}
									<div class="row">
										<div class="col-md-4">
											{{ pimcore_image("building_item_image", {
								"title": "Drag your image here",
								"width": 250,
								"height": 150,
								"class": "img-fluid img-cover",
								"alt": ""
								}) }}
										</div>
										<div class="col-md-4">
											<h5 class="-title">
												{{ pimcore_input('building_item_title',{
									"width":180,
									"height": 150,
									"placeholder": "building item title"
									}) }}
											</h5>
										</div>

										<div class="col-md-4">
											<p class="content">
												{{ pimcore_textarea("building_item_description",{
									"nl2br": true,
									"width":250,
									"height": 150,
									"placeholder": "building item đescription"
									}) }}
											</p>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<div class="-right">
									<div class="grid2 -box">
										{% for i in pimcore_block('building_content_block').iterator %}
											<div class="-item">
												{% set image = pimcore_image('building_item_image').isEmpty() ? null :
									pimcore_image('building_item_image').image %}
												{{ include("components/image.html.twig", { image: image, class: "" }) }}
												<h5 class="-title">
													{{ pimcore_input('building_item_title').getData() }}
												</h5>
												<p class="content">
													{{ pimcore_textarea("building_item_description").getData() }}
												</p>
											</div>

										{% endfor %}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="-federated" id="federated">
			<div class="container">
				<div class="-img">
					{{ pimcore_image("federated", {
				"title": "Drag your image here",
				"width": 1400,
				"height": 600,
				"class": "img-fluid img-cover",
				"alt": "banner"
				}) }}
					<div class="-text">
						<h4>
							{{ pimcore_input("textFederated", {'width': 300 , 'height':150}) }}
						</h4>
						<p>
							{{ pimcore_textarea("descriptionFederated",{
						"nl2br": true,
						"width":500,
						"height": 300,
						"placeholder": "federated subtitle"
						}) }}
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="-tabs" id="tabs">
			{% if editmode %}
				<div class="px-2 py-2">
					<h4>
						Add tabs block
					</h4>
					{% for i in pimcore_block('tabs_block').iterator %}
						<div
							class="import-tabs">
							{# title big tab #}
							<div class="row">
								<div class="col-12">
									<div class="-title text-center">
										<h5 class="py-2">
											add bit title
										</h5>
										<div>
											<h3>
												{{ pimcore_input("tabTitle", {'width': 600}) }}
											</h3>
										</div>
										<h5 class="py-2">
											add big subtitle
										</h5>
										<div>
											{{ pimcore_input("tabSubtitle", {'width': 600}) }}
										</div>
									</div>
								</div>
							</div>
							{# title big tab / #}
							<h4>
								Add tabs block content
							</h4>
							{% for i in pimcore_block('tabs_content_block').iterator %}
								<div class="row">
									<div class="col-12">
										<h5 class="py-2">
											Add title link tab item
										</h5>
										{% for i in pimcore_block('tabs_content_link').iterator %}
											<div>
												{{ pimcore_input("linkTab", {'width': 600}) }}
											</div>
										{% endfor %}
									</div>
								</div>
								<h5 class="py-2">
									add tab content item
								</h5>
								{% for i in pimcore_block('tabs_content').iterator %}
									<div class="row">
										<div class="col-6">
											<h5 class="py-2">
												add text title
											</h5>
											<div>
												{{ pimcore_input("tabContentTitle", {'width': 600}) }}
											</div>
											<h5 class="py-2">
												add description tab content item
											</h5>
											<div>
												{{ pimcore_textarea("tabContentDescription",{
							"nl2br": true,
							"width":500,
							"height": 300,
							"placeholder": "tab content subtitle"
							}) }}
											</div>
										</div>
										<div class="col-6">
											<h5 class="py-2">
												add image tab content item
											</h5>
											<div>
												{{ pimcore_image("tabContentImage", {
							"title": "Drag your image here",
							"width": 1400,
							"height": 300,
							"class": "img-fluid img-cover",
							"alt": ""
							}) }}
											</div>

										</div>
									</div>
									<h5 class="py-2">
										Add item table
									</h5>
									{% for i in pimcore_block('tabs_table_content_block').iterator %}
										<div class="row">
											<div class="col-md-6">
												<h5 class="py-2">
													Add image
												</h5>
												<div>
													{{ pimcore_image("tableImage", {
							"title": "Drag your image here",
							"width": 100,
							"height": 100,
							"class": "img-fluid img-cover",
							"alt": ""
							}) }}
												</div>
											</div>
											<div class="col-md-6">
												<h5 class="py-2">
													Add title
												</h5>
												<div>
													{{ pimcore_input("tableTitle", {'width': 300}) }}
												</div>
												<h5 class="py-2">
													Add desciption
												</h5>
												<div>
													{{ pimcore_textarea("tableDescription",{
							"nl2br": true,
							"width":500,
							"height": 100,
							"placeholder": ""
							}) }}
												</div>
											</div>
										</div>
									{% endfor %}
								{% endfor %}

							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% else %}
				{% for i in pimcore_block('tabs_block').iterator %}
					<div class="-block">
						<div class="-title">
							<h3>
								{{ pimcore_input('tabTitle').getData() }}
							</h3>
							<p>
								{{ pimcore_input('tabSubtitle').getData() }}
							</p>
						</div>
						{% set tabId = i %}
						{% for i in pimcore_block('tabs_content_block').iterator %}
							{% set tabId = tabId + i %}
							<div class="container">
								<div class="tabs-items">
									<ul class="nav nav-pills mb-3" id="pills-tab{{ i }}" role="tablist">
										{% for i in pimcore_block('tabs_content_link').iterator %}
											<li class="nav-item" role="presentation">
												<button class="nav-link {% if i == 1 %} active {% endif %}" id="home-tab-{{ tabId }}-{{i}}" data-bs-toggle="pill" data-bs-target="#home-{{ tabId }}-{{i}}" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
													{{ pimcore_input("linkTab").getData() }}
												</button>
											</li>
										{% endfor %}
									</ul>
									<div class="tab-content" id="pills-tabContent{{ i }}">
										{% for i in pimcore_block('tabs_content').iterator %}
											<div class="tab-pane fade  {% if i == 1 %} show active {% endif %}" id="home-{{ tabId }}-{{i}}" role="tabpanel" aria-labelledby="home-tab-{{ tabId }}-{{i}}">
												<div class="-content-panel">
													<div class="-text">
														<h3>
															{{ pimcore_input("tabContentTitle").getData() }}
														</h3>
														<p>
															{{ pimcore_textarea("tabContentDescription").getData() }}
														</p>
													</div>
													<div class="-img">
														{% set image = pimcore_image('tabContentImage').isEmpty() ? null :
														pimcore_image('tabContentImage').image %}
														{{ include("components/image.html.twig", { image: image, class: "img-fluid img-cover" }) }}
													</div>
												</div>
												<div class="row">
													{% for i in pimcore_block('tabs_table_content_block').iterator %}
														<div class="col-md-3">
															<div class="-table-item ">
																<div class="-icon">
																	{% set image = pimcore_image('tableImage').isEmpty() ? null :
											pimcore_image('tableImage').image %}
																	{{ include("components/image.html.twig", { image: image, class: "img-fluid
											img-cover" }) }}
																</div>
																<div class="-text">
																	<h4>
																		{{ pimcore_input("tableTitle").getData() }}
																	</h4>
																	<p>{{ pimcore_textarea("tableDescription").getData() }}
																	</p>
																</div>
															</div>
														</div>
													{% endfor %}
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% endif %}
		</section>
		<section class="-blog" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="-title">
							<h3>
								Latest news & resources
							</h3>
							<p>
								Seamlessly integrate with any frontend and backend
							</p>
						</div>
					</div>
				</div>
				{{ include("components/tabs_news.html.twig") }}
			</div>
		</section>
	</section>
{% endblock %}
