{% set navStartNode = document.getProperty('navigation_root') %}
{% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
	{% set navStartNode = pimcore_document(1) %}
{% endif %}
{% set mainNavigation = app_navigation_data_links( document, navStartNode ) %}
{% set menuRenderer = pimcore_nav_renderer('menu') %}

<ul>
	<li>
		<a class="--link" href="{{ document.getProperty('navigation_root') }}">
			Home</a>
	</li>
	<li>
		{% for page in mainNavigation %}
			{% if page.isVisible() and menuRenderer.accept(page) %}
				{% set hasChildren = page.hasPages() %}
				{% if not hasChildren %}
					<li>
						<a class="--link" href="{{ page.getHref() }}">
							{{ page.getLabel() }}
						</a>
					</li>
					{% else %}

				{% endif %}
			{% endif %}
		{% endfor %}
	</li>
</ul>
