{% if link is defined %}
	{% set detailLink = app_abstract_detaillink(link) %}

	<nav aria-label="Pagination">
		{% set count = pagination.totalCount %}
		{% if count <= 0 %}
			<span class="text-center">
				not result
			</span>
		{% else %}
			{% if pagination.last != pagination.first %}
				<ul class="pagination justify-content-center">
					{% if (pagination.previous is defined and pagination.previous > pagination.first) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ detailLink }}?page={{ pagination.first }}" aria-label="First">
								<span aria-hidden="true">
									<i class="fa-solid fa-angles-left"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if (pagination.previous is defined) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ detailLink }}?page={{ pagination.previous }}" aria-label="Previous">
								<span aria-hidden="true">
									<i class="fa-solid fa-angle-left"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% for page in pagination.pagesInRange %}
						{% if (pagination.current == page) %}
							<li class="page-item active" aria-current="page">
								<span class="page-link">
									{{ page }}
								</span>
							</li>
						{% else %}
							<li class="page-item">
								<a class="page-link" href="{{ detailLink }}?page={{ page }}">
									{{ page }}
								</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if (pagination.next is defined) %}
						<li class="page-item">
							<a class="page-link next" href="{{ detailLink }}?page={{ pagination.next }}" aria-label="Next">
								<span class="flip" aria-hidden="true">
									<i class="fa-solid fa-angle-right"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if (pagination.next is defined and pagination.next < pagination.last) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ detailLink }}?page={{ pagination.last }}" aria-label="Last">
								<span aria-hidden="true">
									<i class="fa-solid fa-angles-right"></i>
								</span>
							</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}
	</nav>
{% else %}
	<nav aria-label="Pagination">
		{% set count = pagination.totalCount %}
		{% if count <= 0 %}
			<span class="text-center">
				{{ 'Không có kết quả' | trans }}
			</span>
		{% else %}
			{% if pagination.last != pagination.first %}
				<ul class="pagination justify-content-center">
					{% if (pagination.previous is defined and pagination.previous > pagination.first) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ pimcore_url({ 'page': pagination.first }) }}" aria-label="First">
								<span aria-hidden="true">
									<i class="fa-solid fa-angles-left"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% if (pagination.previous is defined) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ pimcore_url({ 'page': pagination.previous }) }}" aria-label="Previous">
								<span aria-hidden="true">
									<i class="fa-solid fa-angle-left"></i>
								</span>
							</a>
						</li>
					{% endif %}

					{% for page in pagination.pagesInRange %}
						{% if (pagination.current == page) %}
							<li class="page-item active" aria-current="page">
								<span class="page-link">
									{{ page }}
								</span>
							</li>
						{% else %}
							<li class="page-item">
								<a class="page-link" href="{{ pimcore_url({'page': page}) }}">
									{{ page }}
								</a>
							</li>
						{% endif %}
					{% endfor %}

					{% if (pagination.next is defined) %}
						<li class="page-item">
							<a class="page-link next" href="{{ pimcore_url({'page': pagination.next}) }}" aria-label="Next">
								<span class="flip" aria-hidden="true">
									<i class="fa-solid fa-angle-right"></i>

								</span>
							</a>
						</li>
					{% endif %}

					{% if (pagination.next is defined and pagination.next < pagination.last) %}
						<li class="page-item">
							<a class="page-link prev" href="{{ pimcore_url({ 'page': pagination.last }) }}" aria-label="Last">
								<span aria-hidden="true">
									<i class="fa-solid fa-angles-right"></i>
								</span>
							</a>
						</li>
					{% endif %}
				</ul>
			{% endif %}
		{% endif %}
	</nav>
{% endif %}