{% extends "layouts/layout.html.twig" %}
{% block content %}
	<div class="container">
		<div class="roadmap">
			<div class="-title">
				<h1>Roadmap</h1>
			</div>
			<!-- timeline -->
			<section class="-timeline">
				<div class="container">
					<div class="row">
						<div class="col-12">
                        
							<div class="apland-timeline-area">
                            
								{% for key,value in result %}
									<div class="single-timeline-area">
										<div class="timeline-date">
											<p>{{ key }}</p>
										</div>
										<div class="row">
                                            {% for date,items in value %}
                                                <div class="col-12 col-md-6 col-lg-4">
                                                    <div class="single-timeline-content {{ items.type }} {{ items.status }}">
                                                        <div class="timeline-icon">
                                                            {{ items.icon | raw }}
                                                            <p>
                                                                {{ items.type }}
                                                            </p>
                                                        </div>
                                                        <div class="timeline-text">
                                                            <h4>{{ items.title }}</h4>
                                                            <p>
                                                                {{ items.content | raw }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- timeline / -->
		</div>
		<div class="breadcrumb-bottom">
			{{ include('components/breadcrumb.html.twig', {
				'detailTitle': title is defined ? title : news.title
			}) }}
			<div class="-last-update">
				Last updated 20 Oct, 2023
			</div>
		</div>
	</div>
{% endblock %}
