{% extends "layouts/layout.html.twig" %}
{% block content %}
	<div class="container">
		<div class="latest_articles">
			<div class="row">
				<div class="col-12">
					<div class="--headline">
						<h3 class="--text --child3">
							{{ category.getTitle() }}
						</h3>
					</div>
				</div>
			</div>
			<div class="row">
				{% for post in newsList %}
					{% set detailLink = app_abstract_detaillink(post) %}
					<div class="col-4">
						<div class="-post__item3">
							<div class="-img">
								<a href="{{ detailLink }}">
									<img src="{{ post.image }}" alt="" class="img-fluid img-cover w-100">
								</a>
							</div>
							<div class="-text">
								<div class="-cate">
									<ul class="-list">
										{% if post.categories is defined %}
											{% for categories in post.categories %}
												{% set categoryLink = app_abstract_detaillink(categories) %}
												<li>
													<a href="{{ categoryLink }}">{{ categories.title }}</a>
												</li>
											{% endfor %}
										{% endif %}
									</ul>
								</div>
								<a href="{{ detailLink }}" class="-title">
									{{ post.title }}
								</a>
								<p class="-content">
									{{ post.description }}
								</p>
								<p class="-day">{{ post.date }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				{% include 'includes/pagination.html.twig' %}
			</div>
		</div>
		<div class="breadcrumb-bottom">
			{{ include('components/breadcrumb.html.twig', {
				'detailTitle': title is defined ? title : news.title
			}) }}
			<div class="-last-update">
				Last updated 20 Oct, 2023
			</div>
		</div>
	</div>
{% endblock %}
