{% extends "layouts/layout.html.twig" %}
{% block content %}
	<div class="container">
		<div
			class="detail_post">
			
			<div class="-entry-title">
				<div class="-tags-text">
					{% if news.categories is defined %}
						{% for category in news.categories %}
							<div class="-item">
								<a href="">
									#{{ category.title }}
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<h1 class="-title">
					{{ news.title }}
				</h1>
				<div class="-date">
					{{ news.date }}
				</div>
			</div>

			<div class="-entry-content">
				<div class="row">
					<div class="col-9">
						<div class="-avatar">
							<img src="{{ news.image }}" alt="{{ news.title }}" class="img-fluid w-100 img-cover">
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-1">
						<div class="-bookmark">
							<i class="fa-regular fa-bookmark"></i>
						</div>
					</div>
					<div class="col-8">
						<div class="-description">
							{{ news.description }}
						</div>
						<div class="-detail">
							{{ news.content | raw }}
						</div>
						<div class="-share">
							{{ include("components/share_buttons.html.twig") }}
						</div>
					</div>
					<div class="col-3">
						<div class="-headline">
							<h4 class="text">
								RELATED POSTS
							</h4>
						</div>
						{% if newsRecentList is defined %}
							{% for post in newsRecentList %}
								{% set detailLink = app_abstract_detaillink(post) %}
								<div class="-post__item2">
									<div class="-text">
										<a href="{{ detailLink }}" class="-title">
											{{ post.title }}
										</a>
										<div class="-date">{{ post.date }}</div>
									</div>
									<div class="-img">
										<a href="{{ detailLink }}">
											<img src="{{ post.image }}" alt="{{ post.title }}" class="img-cover w-100 img-fluid">
										</a>
									</div>

								</div>
							{% endfor %}
						{% endif %}


					</div>
				</div>
			</div>

			<div class="-entry-more">
				<div class="-headline">
					<h3 class="-text">MORE FROM US</h3>
				</div>
				<div class="row py-3">
					{% for post in newsMore %}
						{% set detailLink = app_abstract_detaillink(post) %}
						<div class="col-md-4">
							<div class="-post__item3">
								<div class="-img">
									<a href="{{ detailLink }}">
										<img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid w-100 img-cover">
									</a>
								</div>
								<div class="-text">
									<div class="-cate">
										<ul class="-list">
											{% if post.categories is defined %}
												{% for categories in post.categories %}
													{% set categoryLink = app_abstract_detaillink(categories) %}
													<li>
														<a href="{{ categoryLink }}">{{ categories.title }}</a>
													</li>
												{% endfor %}
											{% endif %}
										</ul>
									</div>
									<a href="{{ detailLink }}" class="-title">
										{{ post.title }}
									</a>
									<p class="-content">
										{{ post.description | raw }}
									</p>
									<p class="-day">{{ post.date }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
					{{ include("includes/pagination.html.twig", {'link': news}) }}
				</div>
			</div>

			<div class="breadcrumb-bottom">
			{{ include('components/breadcrumb.html.twig', {
				'documentPage': document.getProperty('news_document'),
				'detailTitle': title is defined ? title : news.title
			}) }}
			<div class="-last-update">
				Last updated 20 Oct, 2023
			</div>
		</div>
		</div>

	</div>
{% endblock %}
