{% extends "layouts/layout.html.twig" %}
{% block content %}
	<div
		class="container">
		<!-- banner -->
		<div class="-banner">
			<h1 class="-title">
				Our Insight & Blog, where we write about Pimcore, DXP & Symfony
			</h1>
			<div class="-tags">
				{% if categoryList is defined %}
					{% for category in categoryList %}
					{% set categoryLink = app_abstract_detaillink(category) %}
						<div class="-item">
							<a href="{{ categoryLink }}">
								{{ category.title }}
							</a>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<!-- banner / -->
		<!-- today pick -->
		<div class="-todays_pick">
			<div class="row">
				<div class="col-8">
					<div class="--headline">
						<h3 class="--text --child1">Today picks</h3>
					</div>
					<div class="row">
						<div class="col-5">
							{% for post in newsLatest1 %}
								{% set detailLink = app_abstract_detaillink(post) %}
								<div class="-post__item">
									<div class="-img">
										<a href="{{ detailLink }}">
											{{ include("components/image.html.twig", { image: post.image, class: "img-fluid img-cover" }) }}
										</a>
									</div>
									<div class="-text">
										<div class="-cate">
											<ul class="-list">
												{% if post.categories is defined %}
													{% for categories in post.categories %}
														{% set categoryLink = app_abstract_detaillink(categories) %}
														<li>
															<a href="{{ categoryLink }}">{{ categories.title }}</a>
														</li>
													{% endfor %}
												{% endif %}
											</ul>
										</div>
										<a href="{{ detailLink }}" class="-title">
											{{ post.title }}
										</a>
										<div class="-date">{{ post.date }}</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="col-7">
							{% for post in newsLatest2 %}
								{% set detailLink = app_abstract_detaillink(post) %}
								<div class="-post__item">
									<div class="-img">
										<a href="{{ detailLink }}">
											{{ include("components/image.html.twig", { image: post.image, class: "img-fluid img-cover" }) }}
										</a>
									</div>
									<div class="-text">
										<div class="-cate">
											<ul class="-list">
												{% if post.categories is defined %}
													{% for categories in post.categories %}
														{% set categoryLink = app_abstract_detaillink(categories) %}
														<li>
															<a href="{{ categoryLink }}">{{ categories.title }}</a>
														</li>
													{% endfor %}
												{% endif %}
											</ul>
										</div>
										<a href="{{ detailLink }}" class="-title">
											{{ post.title }}
										</a>
										<div class="-content">
											{{ post.description }}
										</div>
										<div class="-date">{{ post.date }}</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
				<div
					class="col-4">
					<!-- most recent -->
					<div class="most_recent">
						<div class="--headline">
							<h3 class="--text --child2">Most Recent</h3>
						</div>
						{% for post in newsMostRecentList %}
							{% set detailLink = app_abstract_detaillink(post) %}
							<div class="-post__item2">
								<div class="d-flex">
									<div class="-text">
										<a href="{{ detailLink }}" class="-title">
											{{ post.title }}
										</a>
										<p class="-day">{{ post.date }}</p>
									</div>
									<div class="-img">
										<a href="{{ detailLink }}">
											{{ include("components/image.html.twig", { image: post.image, class: "img-fluid img-cover" }) }}
										</a>
									</div>

								</div>
							</div>
						{% endfor %}
					</div>
					<!-- most recent / -->
				</div>
			</div>
		</div>
		<!-- today pick / -->
		<!-- latest articles -->
		<div class="latest_articles">
			<div class="row">
				<div class="col-12">
					<div class="--headline">
						<h3 class="--text --child3">latest articles</h3>
					</div>
				</div>
			</div>
			<div class="row">
				{% for post in newsList %}
					{% set detailLink = app_abstract_detaillink(post) %}
					<div class="col-4">
						<div class="-post__item3">
							<div class="-img">
								<a href="{{ detailLink }}">
									<img src="{{ post.image }}" alt="" class="img-fluid img-cover w-100">
								</a>
							</div>
							<div class="-text">
								<div class="-cate">
									<ul class="-list">
										{% if post.categories is defined %}
											{% for categories in post.categories %}
												{% set categoryLink = app_abstract_detaillink(categories) %}
												<li>
													<a href="{{ categoryLink }}">{{ categories.title }}</a>
												</li>
											{% endfor %}
										{% endif %}
									</ul>
								</div>
								<a href="{{ detailLink }}" class="-title">
									{{ post.title }}
								</a>
								<p class="-content">
									{{ post.description }}
								</p>
								<p class="-day">{{ post.date }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
				{% include 'includes/pagination.html.twig' %}
			</div>
		</div>
		<!-- latest articles / -->
		<div class="breadcrumb-bottom">
			{{ include('components/breadcrumb.html.twig', {
				'documentPage': document.getProperty('news_document'),
				'detailTitle': title is defined ? title : news.title
			}) }}

			<div class="-last-update">
				Last updated 20 Oct, 2023
			</div>
		</div>
	</div>
{% endblock %}
