
{% set documentPage = documentPage is defined ? documentPage : null %}
{% set detailTitle = detailTitle is defined ? detailTitle : null %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="--link" href="{{ document.getProperty('navigation_root') }}">
                Home
            </a>
        </li>

        {% if documentPage %}
            {% if detailTitle %}
                <li class="breadcrumb-item">
                    <a class="--link" href="{{ documentPage.fullPath }}">
                        {{ documentPage.title }}
                    </a>
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ documentPage.title }}
                </li>
            {% endif %}
        {% endif %}

        {% if detailTitle %}
        <li class="breadcrumb-item active" aria-current="page">
            {{ detailTitle }}
        </li>
        {% endif %}
    </ol>
</nav>