{% for post in newsList %}
	{% set detailLink = app_abstract_detaillink(post) %}
	<div class="col-4">
		<div class="-post__item3">
			<div class="-img">
				<a href="{{ detailLink }}">
					<img src="{{ post.image }}" alt="" class="img-fluid img-cover w-100">
				</a>
			</div>
			<div class="-text">
				<div class="-cate">
					<ul class="-list">
						{% if post.categories is defined %}
							{% for categories in post.categories %}
								{% set categoryLink = app_abstract_detaillink(categories) %}
								<li>
									<a href="{{ categoryLink }}">{{ categories.title }}</a>
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
				<a href="{{ detailLink }}" class="-title">
					{{ post.title }}
				</a>
				<p class="-content">
					{{ post.description }}
				</p>
				<p class="-day">{{ post.date }}</p>
			</div>
		</div>
	</div>
{% endfor %}
{# {% include 'includes/pagination.html.twig' %} #}
