
<div class="backshare ">
    <div class="--back">
        <i class="fa-solid fa-arrow-left-long"></i>
        Back
    </div>
    
    <ul class="-share">
        <li>Share Social:</li>

        <li class="fb-share-button" data-href="{{ app.request.uri }}" data-layout="" data-size="">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore --link">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </li>

        <li>
            <a href="https://twitter.com/share?ref_src={{ app.request.uri }}" class="--link" data-show-count="false" target="_blank">
               <i class="fa-brands fa-twitter"></i>
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/shareArticle?url={{ app.request.uri }}" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>

        <li>
            <a href="https://www.pinterest.com/pin/create/?url={{ app.request.uri }}" target="_blank">
                <i class="fa-brands fa-pinterest"></i>
            </a>
        </li>
    </ul>
</div>