<div class="row">
    <div class="col-12">
        <div id="tabs_news">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                {% if categoryList is defined %}
                    {% for category in categoryList %}
                        <li class="nav-item" role="presentation">
                            <button class="active-post nav-link {% if loop.first %}active{% endif %}" id="btnNews{{ category.id }}" data-id="{{ category.id }}" data-bs-toggle="pill" data-bs-target="#pills-home{{ category.id }}" type="button" role="tab" aria-controls="pills-home{{ category.id }}" aria-selected="true">
                                {{ category.title }}
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% if categoryList is defined %}
                    {% for category in categoryList %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="pills-home{{ category.id }}" data-id="{{ category.id }}" role="tabpanel" aria-labelledby="pills-home-tab{{ category.id }}">
                            <div class="row">
                                <div id="newsList{{ category.id }}" class="row"> </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
